<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Book Page</h1>

    <form action="/admin/books/edit/<%= selectedBook.id  %>" method="post">
    <div>
        <label for="">Title</label>
        <input type="text" name="title" value="<%= selectedBook.title %>">
    </div>

    <div>
        <label for="">Stock</label>
        <input type="number" name="stock" value="<%= selectedBook.stock %>">
    </div>

    <div>
        <label for="">Price</label>
        <input type="number" name="price" value="<%= selectedBook.price %>">
    </div>

    <div>
        <label for="">Image</label>
        <input type="text" name="image" value="<%= selectedBook.image %>">
    </div>

    <div>
        <label for="">Status</label>
        <select name="status" id="">
            <option <%= selectedBook.status === 'Available' ? "selected" : "" %> value="Available"> Available</option>
            <label for="">Available</label>
            <option <%= selectedBook.status === 'Not Available' ? "selected" : "" %> value="Not Available"> Not Available</option>
            <label for="">Not Available</label>
        </select>
    </div>
    <br>
    
    <button style="color: black;">Sumbit</button>
    
    </form>
</body>
</html>