<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book List</h1>

    <% if (buyMsg){ %>
        <p style="color: rgb(3, 202, 62)"><%= buyMsg  %></p>
    <% } %>
    
    <a href="/books/soldlist"><button style="color: rgb(189, 21, 21);">SOLD BOOK LIST</button></a>
    <br>
    <table border="2">
    <tr>
        <th>Title Book</th>
        <th>Total Stock</th>
        <th>Price Book</th>
        <th>Book Picture</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    <% data.forEach(el =>{ %>
        <tr>
            <td><%= el.title  %></td>
            <td><%= el.stock  %></td>
            <td><%= el.formatRupiah  %></td>
            <td><img src="<%= el.image  %>" alt="" style="width: 70px; height: 70px;"></td>
            <td><%= el.status  %></td>
            <td>
                <a href="/books/buy/<%= el.id  %>"><button style="color: green;">Buy</button></a>
                <a href=""><button style="color: blue;">Detail</button></a>
            </td>
        </tr>
    <% }) %>
</table>
</body>
</html>